In [113]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [114]:
sheet_names = ['VoiceandAccountability', 'Political StabilityNoViolence', 'GovernmentEffectiveness', 'RegulatoryQuality', 'RuleofLaw', 'ControlofCorruption']

wgi_dataset = {s: pd.read_excel("../02. Source Data/01 Suggested/Worldwide governance indicators/wgidataset.xlsx", s, header=[13,14], index_col=[0,1]) for s in sheet_names}
wgi_dataset['VoiceandAccountability']

                          1996                                          1998  \
Code                  Estimate    StdErr NumSrc  Rank Lower  Upper  Estimate
Aruba            ABW       NaN       NaN    NaN   NaN   NaN    NaN       NaN
Andorra          ADO  1.563217  0.291691    3.0  98.5  81.5  100.0  1.528759
Afghanistan      AFG -1.908540  0.261457    4.0   1.0   0.0    9.5 -2.039301
Angola           AGO -1.578164  0.208810    6.0   6.0   0.5   13.0 -1.411879
Anguilla         AIA       NaN       NaN    NaN   NaN   NaN    NaN       NaN
...                        ...       ...    ...   ...   ...    ...       ...
Serbia           SRB -1.215804  0.208810    6.0  14.0   6.5   21.5 -0.973843
South Africa     ZAF  0.841139  0.208056    7.0  73.0  64.5   86.0  0.846978
Congo, Dem. Rep. ZAR -1.600949  0.235619    4.0   4.5   0.0   14.0 -1.728647
Zambia           ZMB -0.334019  0.208810    6.0  38.0  27.5   50.5 -0.483754
Zimbabwe         ZWE -0.611550  0.208810    6.0  30.5  18.5   41.0 -0.789812

                                                  ...   2018             \
Code                    StdErr NumSrc       Rank  ... NumSrc       Rank
Aruba            ABW       NaN    NaN        NaN  ...    1.0  91.625618
Andorra          ADO  0.291445    3.0  97.512436  ...    2.0  83.251228
Afghanistan      AFG  0.256090    4.0   0.497512  ...   10.0  20.689655
Angola           AGO  0.214446    6.0   9.452736  ...   11.0  22.660099
Anguilla         AIA       NaN    NaN        NaN  ...    NaN        NaN
...                        ...    ...        ...  ...    ...        ...
Serbia           SRB  0.214446    6.0  19.402985  ...   12.0  45.812809
South Africa     ZAF  0.213555    7.0  72.636818  ...   16.0  70.443352
Congo, Dem. Rep. ZAR  0.249131    4.0   3.482587  ...   12.0   7.881773
Zambia           ZMB  0.214446    6.0  34.825871  ...   14.0  35.960590
Zimbabwe         ZWE  0.214446    6.0  25.870647  ...   15.0  17.241379

                                                2019                   \
Code                      Lower      Upper  Estimate    StdErr NumSrc
Aruba            ABW  77.339905  99.507393  1.294189  0.268796    1.0
Andorra          ADO  69.458130  95.566505  1.139154  0.219417    2.0
Afghanistan      AFG  13.793103  25.615763 -0.988032  0.127851   10.0
Angola           AGO  16.256157  27.586206 -0.777283  0.123522   11.0
Anguilla         AIA        NaN        NaN       NaN       NaN    NaN
...                         ...        ...       ...       ...    ...
Serbia           SRB  37.931034  54.187191  0.026626  0.125065   10.0
South Africa     ZAF  61.083744  75.369461  0.670388  0.118118   15.0
Congo, Dem. Rep. ZAR   4.433497  13.300492 -1.365966  0.126427   11.0
Zambia           ZMB  31.034483  40.394089 -0.286199  0.120854   13.0
Zimbabwe         ZWE  12.315271  22.167488 -1.141875  0.118220   14.0


Code                       Rank      Lower       Upper
Aruba            ABW  92.610840  73.891624  100.000000
Andorra          ADO  87.192116  72.906403   96.059113
Afghanistan      AFG  21.674877  15.763547   25.123152
Angola           AGO  25.615763  21.674877   30.049261
Anguilla         AIA        NaN        NaN         NaN
...                         ...        ...         ...
Serbia           SRB  45.812809  39.901478   55.172413
South Africa     ZAF  69.458130  61.083744   73.891624
Congo, Dem. Rep. ZAR  12.807881   6.896552   16.256157
Zambia           ZMB  36.945812  32.512314   42.857143
Zimbabwe         ZWE  16.748768  12.807881   22.167488

[214 rows x 126 columns]

In [115]:
def combine_multicol(df, name):
    df1 = df.copy()
    df1.columns = ['%s%s' % (a, '_%s' % b if b else '') for a, b in df1.columns]
    cols = [c for c in df1.columns if 'estimate' in c.lower() and '2019' in c.lower()]
    df2 = df1[cols]
    df2.columns = [c + "_" + name for c in df2.columns]
    return df2

In [116]:
x = {k: combine_multicol(wgi_dataset[k], k) for k in wgi_dataset.keys()}

In [190]:
full_dataset_2019 = pd.concat([v for v in x.values()], axis=1)
full_dataset_2019.columns = sheet_names
full_dataset_2019 = full_dataset_2019.rename_axis(['country', 'ctr'])
full_dataset_2019 = full_dataset_2019.reset_index()
full_dataset_2019['country'] = full_dataset_2019['country'].str.lower()
full_dataset_2019['country'] = full_dataset_2019['country'].str.replace('\,.*', '', regex=True)
full_dataset_2019 = full_dataset_2019.replace({'country': {'hong kong sar': 'hong kong',
                                                            'russian federation': 'russia'}})
full_dataset_2019.head()

,country,ctr,VoiceandAccountability,Political StabilityNoViolence,GovernmentEffectiveness,RegulatoryQuality,RuleofLaw,ControlofCorruption
0,aruba,ABW,1.294189,1.357372,1.029933,0.857360,1.263128,1.217238
1,andorra,ADO,1.139154,1.615139,1.908749,1.228176,1.579939,1.234392
2,afghanistan,AFG,-0.988032,-2.649407,-1.463875,-1.120555,-1.713527,-1.401076
3,angola,AGO,-0.777283,-0.311101,-1.117144,-0.893871,-1.054343,-1.054683
4,anguilla,AIA,NaN,1.367357,0.815824,0.846231,0.355737,1.234392

In [191]:
full_dataset_2019.to_csv("../03. Cleansed Data/wgi_data_combined.csv")

PermissionError: [Errno 13] Permission denied: '../03. Cleansed Data/wgi_data_combined.csv'

In [229]:
#data cleaning
hofstede_data = pd.read_excel (r'../02. Source Data/01 Suggested/Hofstede national culture dimensions (2015)/6-dimensions-for-website-2015-08-16.xls')
#drop NA', 'can't really replace NA with any number e.g. 0 as the indexes are sliding scales and 0 would essentially mean '0/100' as a score
hofstede_data = hofstede_data.dropna()
hofstede_data = hofstede_data.reset_index(drop=True)
#dropping irrelevant indicies
hofstede_data = hofstede_data.drop(['idv', 'mas','ivr'], axis=1)
arab_countries = ['Algeria', 'Bahrain', 'Comoros', 'Djibouti', 'Egypt', 'Iraq', 'Jordan', 'Kuwait', 'Lebanon', 'Libya', 'Morocco', 'Mauritania', 'Oman', 'Palestine', 'Qatar', 'Saudi Arabia', 'Somalia', 'Sudan', 'Syrian arab rep', 'Tunisia', 'United Arab Emirates','Yemen']
arab_pdi = [80.0]*len(arab_countries)
arab_uai = [68.0]*len(arab_countries)
arab_ltowvs = [23.0]*len(arab_countries)
arab_df = pd.DataFrame({'country': arab_countries,
                        'pdi': arab_pdi,
                        'uai': arab_uai,
                        'ltowvs': arab_ltowvs})
hofstede_data = hofstede_data.append(arab_df)
hofstede_data['country'] = hofstede_data['country'].str.lower()
hofstede_data['country'] = hofstede_data['country'].str.replace(' rep', ' republic')
hofstede_data = hofstede_data.replace({'country': {'u.s.a.': 'united states',
                                                            'great britain': 'united kingdom',
                                                            'korea south': 'korea'}})
hofstede_data.to_csv("../03. Cleansed Data/hofstede.csv")
hofstede_data.tail()

    ctr               country   pdi   uai  ltowvs
17  NaN                 sudan  80.0  68.0    23.0
18  NaN  syrian arab republic  80.0  68.0    23.0
19  NaN               tunisia  80.0  68.0    23.0
20  NaN  united arab emirates  80.0  68.0    23.0
21  NaN                 yemen  80.0  68.0    23.0

In [230]:
common = hofstede_data.merge(full_dataset_2019,on=['country'])
common.shape

(84, 12)

In [232]:
common.to_csv('../03. Cleansed Data/cultural_and_governance.csv')