In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport

CLEANSED_DATA = "../03. Cleansed Data/"
SOURCE_DATA = "../02. Source Data/"
POLICY_DATA = SOURCE_DATA + "/00 Core/Oxford Covid-19 Government Response Tracker/OxCGRT_latest.csv"
EFFECTIVENESS_DATA = CLEANSED_DATA + "effectiveness_ranking.csv"

In [5]:
oxcgrt = pd.read_csv(POLICY_DATA)
oxcgrt['CountryName'] = oxcgrt['CountryName'].str.lower()
oxcgrt.head()

,CountryName,CountryCode,RegionName,RegionCode,Date,C1_School closing,C1_Flag,C2_Workplace closing,C2_Flag,C3_Cancel public events,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,aruba,ABW,NaN,NaN,20200101,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,aruba,ABW,NaN,NaN,20200102,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aruba,ABW,NaN,NaN,20200103,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,aruba,ABW,NaN,NaN,20200104,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,aruba,ABW,NaN,NaN,20200105,0.0,NaN,0.0,NaN,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
effectiveness = pd.read_csv(EFFECTIVENESS_DATA, index_col=0)
effectiveness = effectiveness.rename(columns={"index": "country"})
effectiveness = effectiveness.replace({"syrian arab republic": "syria"})
effectiveness.head()

,country,ctr_y,uai,ltowvs,PCA-1,cluster,confirmed/pop,rank_confirmed,deaths/confirmed,rank_deaths,recovered/confirmed,rank_recover,effectiveness
0,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,0.943026,11,9.000000
1,new zealand,NZL,49.0,32.745592,-3.872641,1,0.000379,9,0.013684,14,0.950739,6,9.666667
2,thailand,THA,64.0,31.738035,0.971190,1,0.000050,2,0.016780,25,0.953641,5,10.666667
3,comoros,COM,68.0,23.000000,2.879881,1,0.000540,11,0.014894,19,0.963830,3,11.000000
4,malaysia,MYS,36.0,40.806045,0.235920,2,0.000325,8,0.012661,13,0.914041,14,11.666667

In [24]:
common = effectiveness.merge(oxcgrt,left_on=['country'], right_on=['CountryName'])
common.head()

,country,ctr_y,uai,ltowvs,PCA-1,cluster,confirmed/pop,rank_confirmed,deaths/confirmed,rank_deaths,...,StringencyIndex,StringencyIndexForDisplay,StringencyLegacyIndex,StringencyLegacyIndexForDisplay,GovernmentResponseIndex,GovernmentResponseIndexForDisplay,ContainmentHealthIndex,ContainmentHealthIndexForDisplay,EconomicSupportIndex,EconomicSupportIndexForDisplay
0,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,...,2.78,2.78,3.57,3.57,1.92,1.92,2.27,2.27,0.0,0.0
1,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,...,8.33,8.33,13.10,13.10,5.77,5.77,6.82,6.82,0.0,0.0
2,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,...,8.33,8.33,13.10,13.10,5.77,5.77,6.82,6.82,0.0,0.0
3,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,...,8.33,8.33,13.10,13.10,5.77,5.77,6.82,6.82,0.0,0.0
4,taiwan,TWN,69.0,92.947103,-1.929032,3,0.000021,1,0.013752,15,...,8.33,8.33,13.10,13.10,5.77,5.77,6.82,6.82,0.0,0.0

In [25]:
print("government response dimensions:", oxcgrt.shape)
print("effectiveness data dim:", effectiveness.shape)
print("joined data dim:", common.shape)

government response dimensions: (66516, 44)
effectiveness data dim: (82, 13)
joined data dim: (37536, 57)

In [26]:
print(effectiveness[(~effectiveness.country.isin(common.country))].shape)
effectiveness[(~effectiveness.country.isin(common.country))]

(2, 13)

,country,ctr_y,uai,ltowvs,PCA-1,cluster,confirmed/pop,rank_confirmed,deaths/confirmed,rank_deaths,recovered/confirmed,rank_recover,effectiveness
3,comoros,COM,68.0,23.000000,2.879881,1,0.000540,11,0.014894,19,0.963830,3,11.000000
37,malta,MLT,96.0,47.103275,-1.394513,0,0.006468,59,0.008754,8,0.760854,51,39.333333